* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

.grid, .status, header, .rows {
    position: absolute;
}

.grid, .status {
    left: 20px;
    right: 20px;
}

.header, .column, .rows, .cell {
    border: 1px silver;
}

.grid {
    top: 20px;
    bottom: 44px;
    border: 1px solid silver;
}

.status {
    bottom: 20px;
    height: 24px;
    background: silver;
}

.header, .rows {
    left: 0;
    right: 0;
}

.header {
    top: 0;

    overflow: hidden;
}

.rows {
    bottom: 0;
}

.rows {
    overflow: auto;
}

.row, .header {
    white-space: nowrap;
    position: absolute;
}

.column, .cell, .columnPadding {
    display: inline-block;
}

.cell {
    border-style: none solid solid none;
}

.cell > *, .label {
    padding: 4px;
}

.cell.selectedColumn {
    background: #b0e0e6;
}

.cell.selectedRow {
    background: #b0e0e6;
}

.cell.selectedRow.selectedColumn {
    background: skyblue;
}

.column {
    border-right-style: solid;
    background: #eee8aa;
}